---
layout: clean-blog
permalink: /blog/
title: "Blog"
author_profile: false
redirect_from:
  - /year-archive/
  - /wordpress/blog-posts/
---

<p class="cb-index__tagline">{{ site.description }}</p>

<div class="cb-post-grid">
  {% for post in site.posts %}
    <article class="cb-post-card">
      <a class="cb-post-card__link" href="{{ post.url | relative_url }}">
        <h2 class="cb-post-card__title">{{ post.title }}</h2>
        {% if post.date %}
          <p class="cb-post-card__meta">{{ post.date | date: '%b %e, %Y' }}</p>
        {% endif %}
        {% if post.excerpt %}
          <p class="cb-post-card__excerpt">
            {{ post.excerpt | markdownify | strip_html | strip_newlines | escape_once }}
          </p>
        {% endif %}
      </a>
    </article>
  {% endfor %}
</div>
