---
import PasswordWrapper from "./PasswordWrapper.astro";
import { encrypt } from "../codewrapper/encrypt.ts"; // 导入加密函数

const postContent = await Astro.fetchContent('../posts/【普物】期中历年卷题解.md'); // 获取 Markdown 内容
const password = '457766024'; // 设置密码
const encryptedContent = await encrypt(postContent.body, password); // 加密文章内容
---

<article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
  <!-- 通过 PasswordWrapper 组件包裹文章内容并传递加密后的内容 -->
  <PasswordWrapper password={password}>
    <div slot="default">
      <!-- 在这里显示加密后的内容 -->
      <meta name="encrypted" content={encryptedContent} />
      <div id="article" class="prose" />
    </div>
  </PasswordWrapper>
</article>